{% extends "base.html" %}
{% block title %}Popular{% endblock %}
{% block content %}

    {% for question in questions %}
        <p><a href="{{ question.get_url }}">{{ question.title }}</a></p>
    {% endfor %}

    {% if questions.has_previous %}
        <a href="?page={{ questions.previous_page_number }}">previous</a>
    {% endif %}
        Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
    {% if questions.has_next %}
        <a href="?page={{ questions.next_page_number }}">next</a>
    {% endif %}

{% endblock %}
